@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    display: flex;
    height: 200px;
    overflow: scroll;
    overflow-y: hidden;
    width: 100%;
    margin: auto;
}
.container::-webkit-scrollbar {
    width:unset;
}
  
.container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.9);
}
  
.container::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 30);
}
aside{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 70vh;
    width: 100%;
}

aside img{
    border-radius: 5px;
}

.kezelo{
    display:flex;
    justify-content: center;
    padding: 1rem;
    gap: 5rem;
    
}
.kezelo button{
    font-family: "Montserrat", sans-serif;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
    padding-bottom : .3rem;
    text-align: center;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}